@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #42200b;
    --secondary-color: #ffc135;
    --tertiary-color: #df1c1c;
    --text-dark: #212529;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font-1: "Alfa Slab One", serif;
    --header-font-2: "Bebas Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    text-align: center;
    line-height: 3.75rem;
    text-shadow: 2px 2px var(--secondary-color);
}

.section__description {
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}

.btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--tertiary-color);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    background-image: url("assets/header-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo img {
    max-width: 150px;
}

.nav__logo-dark {
    display: none;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    font-weight: 600;
    white-space: nowrap;
    color: var(--white);
    transition: 0.3s;
}

.nav__links a:hover {
    color: var(--secondary-color);
}

.header__container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.header__image img {
    max-width: 600px;
    margin-inline: auto;
}

.header__content h2 {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    border: 2px dashed var(--primary-color);
    text-align: center;
}

.header__content h1 {
    font-size: 4.5rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    line-height: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px var(--white);
}

.header__content h1 span {
    font-size: 3rem;
}

.banner__container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 200px;
}

.banner__card {
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.banner__card:nth-child(1) {
    background-image: url("assets/banner-1.png");
}

.banner__card:nth-child(2) {
    background-image: url("assets/banner-2.png");
}

.banner__card:nth-child(3) {
    background-image: url("assets/banner-3.png");
}

.banner__card p {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

.banner__card h4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
}

.order__container h3 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.order__container .section__header {
    margin-bottom: 1rem;
}

.order__container .section__description {
    margin-bottom: 2rem;
    text-align: center;
}

.order__grid {
    display: grid;
    gap: 2rem 1rem;
}

.order__card {
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.3s;
}

.order__card:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.order__card img {
    max-width: 250px;
    margin-inline: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}

.order__card h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.order__card p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}

.event__content {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.event__details {
    text-align: center;
}

.event__details h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font-2);
    color: var(--text-dark);
}

.event__details .section__header {
    margin-bottom: 1rem;
}